<h1 class="display-4"?>Meeting Room Scheduler </h1>
<p class="mb-4">This is a Sails.js app for managing
meeting room bookings. </p>
<a href="/appointment/list" class="btn btn-light">View Appointments for the Day</a>
<a href="/appointment/add" class="btn btn-light"> Make Appointment</a>
